* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

input {
    border: none;

    outline: none;
}

button {
    border: none;

    outline: none;
}

h1 {
    font-size: 1.875rem;
}

h2 {
    font-size: 1.125rem;
}