* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

input {
    border: none;

    outline: none;
}

button {
    border: none;

    outline: none;
}

h1 {
    font-size: 1.875rem;
}

h2 {
    font-size: 1.125rem;
}

@media (max-width: 820px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 730px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 295px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 260px) {
    html {
        font-size: 70%;
    }
}